<%= simple_form_for ([@company, @service])  do |service_form| %>
  <div class="form-group text-center">
    <%= service_form.input :name %>
    <%= service_form.input :description %>
    <%= service_form.input :duration %>
    <%= service_form.input :price %>
    <%= service_form.association :company %>
    <%= service_form.association :category %>
    <%= service_form.input :image, as: :file %>
    <%= service_form.button :submit %>
  </div>
<% end %>
