<div class="card shadow-lg mb-5 bg-custom-color rounded">
  <div class="text-center m-2 p-2">
    <h1 class="text-main text-success"><%= t('global.about') %></h1>
    <p class="m-3 fst-italic text-card fs-5"><%= t('data.aboutdesc1') %></p>
    <div class="container inline-block ">
    <%= image_tag 'main2.jpg', style: 'height: 250px; width: 35%;' %>
    <%= image_tag 'about-table.jpg', style: 'height: 250px; width: 25%;' %>
    <%= image_tag 'main.jpg', style: 'height: 250px; width: 35%;' %>
    </div>
    <br>
    <p class="m-3 fst-italic text-card fs-5"><%= t('data.aboutdesc2') %></p>
    <%= image_tag 'about-tv.jpg', style: 'height: 350px; width: auto;' %>
    <%= image_tag 'about-tv-2.jpg', style: 'height: 350px; width: 550px;' %>
    <br>
    <div class="p-3">
      <hr>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= render 'shared/map' %>
      </div>
      <div class="col-md-6 card-cont ps-3 bg-white rounded">
        <p class="fs-2 fw-bold text-card"><%= t('data.aboutbil') %> <%= @company.name %></p>
        <p class="fst-italic fs-4 fw-light"><%= @company.address %></p>
        <p class="fs-4 fw-light"><%= t('data.aboutphone') %>: <%= @company.phone %></p>
        <p class="fs-5 fw-light"><%= t('data.abouthours') %></p>
      </div>
    </div>
  </div>
</div>
