<nav class="navbar navbar-expand-lg bg-black bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:3000">
      <%= image_tag 'legenda-logo.png', width:'60' %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('global.home'), root_path, class: 'nav-link active text-light' %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to t('global.bookings'), bookings_path, class: 'nav-link active text-light' %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to t('global.about'), about_path, class: 'nav-link active text-light' %>
        </li>
      </ul>
      <div class="me-auto nav navbar-nav">
        <% if I18n.locale== :en %>
          <%= link_to "English", { locale: :en }, class: "nav-link disable text-success" %>
          <%= link_to "Русский", { locale: :ru }, class: "nav-link text-light" %>
        <% elsif I18n.locale== :ru %>
          <%= link_to "English", { locale: :en }, class: "nav-link text-light" %>
          <%= link_to "Русский", { locale: :ru }, class: "nav-link disable text-success" %>
        <% end %>
      </div>
      <div class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.avatar.attached?  %>
            <li class="nav-item my-2 px-1">
              <%= image_tag current_user.avatar, class: 'rounded-circle border border-warning', style:"width: 45px; height: 45px" %>
            </li>
          <% elsif current_user.avatar_url %>
            <li class="nav-item my-2 px-1">
              <%= image_tag current_user.avatar_url, class: 'rounded-circle border border-warning', style:"width: 45px; height: 45px" %>
            </li>
          <% end %>
          <li class="nav-item my-2 p-1">
            <%= link_to t('global.account'), edit_user_registration_path, class: 'nav-link link-warning active' %>
          </li>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <%= link_to t('global.logout'), destroy_user_session_path, data: { turbo_method: :delete },
                    class: 'btn btn-outline-light mx-2' %>
      <% else %>
        <%= link_to t('global.signup'), new_user_registration_path, class: 'btn btn-outline-light mx-2' %>
        <%= link_to t('global.login'), new_user_session_path, class: 'btn btn-outline-light' %>
      <% end %>
    </div>
  </div>
</nav>
