<%= simple_form_for @company do |company_form| %>
  <div class="form-group text-center">
    <%= company_form.input :name %>
    <%= company_form.input :address %>
    <%= company_form.input :phone %>
    <%= company_form.input :description %>
    <%= company_form.button :submit %>
  </div>
<% end %>
